.container{
    display: flex;
    height: 550px;
}

body{
    background-image: linear-gradient(yellow,cyan);
}

h1{
    text-align: center;
    font-size: 50px;
    margin-top: -10px;
    margin-bottom: -10px;
}

/* First Cards css Started */

.A{
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
}

#Lm{
    width: 100%;
    height: 250px;
}

#L{
    font-size: 20px;
    text-align: justify;
    margin: 5px;
}

.M{
    background-color: blueviolet;
}

#Dr{
    width: 100%;
    height: 250px;
}

#D{
    font-size: 20px;
    text-align: justify;
    margin: 5px;
}

.R{
    background-color: hotpink;
}

#Db{
    width: 100%;
    height: 250px;
}

#DB{
    font-size: 20px;
    text-align: justify;
    margin: 5px;
}

.B{
    background-color: royalblue;
}

/* Second Cards css Started */

.Aa{
    background-color: red;
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
}

#Jb{
    width: 100%;
    height: 250px;
    
}

#J{
    font-size: 20px;
    text-align: justify;
    margin: 5px;
}

.N{
    background-color: lightcoral;
}

#Tk{
    width: 100%;
    height: 250px;
}

#T{
    font-size: 20px;
    text-align: justify;
    margin: 5px;
}

.K{
    background-color: lightsalmon;
}

#Dj{
    width: 100%;
    height: 250px;
}

#DJ{
    font-size: 20px;
    text-align: justify;
    margin: 5px;
}

.J{
    background-color: lightseagreen;
}